{% extends "base.html" %}

{% block title %} Login {% endblock %}
{% block head %}
<style>
    body {
        background-color: #f8f9fa;
    }
    .login-container {
        max-width: 400px;
        margin: auto;
        padding: 2rem;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 100px;
    }
</style>
{% endblock%}
{% block content %}
<div class="login-container">
    <h2 class="text-center">Login</h2>
    <form action="{{url_for('login') }}" method="POST">
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail" required>
        </div>
        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite sua senha" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block w-100">Entrar</button>
    </form>
    <div class="text-center mt-3">
        <a href="#">Esqueceu a senha?</a>
    </div>
</div>

{% endblock %}